// COLORS

$color-white: #fff;
$color-off-white: #eee;
$color-gray-dark: #333;
$color-luvit-blue: #0594bd;
$color-luvit-yellow: #ffb300;
$color-luvit-red: #ff2300;

$color-font-inverse: #fff;

// SIZES

$footer-height: 100px;
$luvit-max-width: em(800);
$media-breakpoint-small: new-breakpoint(max-width $luvit-max-width);
$media-breakpoint-xs: new-breakpoint(max-width em(500));

// BOURBON/NEAT OVERRIDES

$max-width: $luvit-max-width;
