// COLORS

$color-white: #fff;
$color-off-white: #eee;
$color-gray-dark: #333;
$color-luvit-blue: #0594bd;
$color-luvit-yellow: #ffb300;
$color-luvit-red: #ff2300;

$color-font-inverse: #fff;

// FONTS

$font-family-sans: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
$font-family-light: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

// SIZES

$footer-height: 100px;
